#style1 {
	-fx-background-color:#70D85C;
    -fx-background-radius:1em;
	-fx-display:inline-block;
	-fx-cursor:hand;
	-fx-font-family:Arial;
	-fx-font-size:19pt;
    -fx-text-decoration:none;
    -fx-text-fill:white;
}
#style1:hover {
    -fx-background-color:rgb(49, 128, 15);
    -fx-text-fill:#ffffff;
}
#style1:active {
	-fx-position:relative;
	-fx-top:1px;
}
